/* --- site variables --- */
:root {

	/* primary colors */
	--color-primary: #a60f2d;
	--color-primary-bright: #ca1237;
	--color-primary-dark: #820c23;
	--color-primary-on-black: #db3246;

	/* gray colors */
	--color-gray-5: #f2f2f2;
	--color-gray-10: #e5e5e5;
	--color-gray-25: #d0d0d0;
	--color-gray: #717171;
	--color-gray-80: #333;
	--color-gray-90: #191919;

	/* links */
	--color-link: #da1e00;
	--color-link-hover: #be000f;
	--color-link-dark: #a30023;
}

html {
	background-color: var(--color-gray-5);
}

/* --- general typography --- */
body {
	color: var(--color-gray-90);
}

main,
label {
	font-family: "Source Sans Pro";
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
}

/* header elements */
h1,
h2,
h3 {
	color: var(--color-gray-80);
	font-weight: 700;
	line-height: 1.1;
}

h1 {
	font-size: 2.5em;
}

h2 {
	color: var(--color-link);
	font-size: 1.75em;
}

h3 {
	font-size: 1.4em;
	text-transform: uppercase;
}

/* links and call to actions */
main a {
	border-bottom: 1px solid var(--color-link);
	color: inherit;
	text-decoration: none;
	transition: all .3s ease;
}

main p a {
	font-weight: 700;
}

main a:hover,
main a:focus {
	border-bottom-color: inherit;
	color: var(--color-link);
}

main a:active {
	border-bottom-color: inherit;
	color: var(--color-link-dark);
}

/* remove border from linked images */
main figure a {
	border-bottom: none;
}

/* --- buttons --- */
main a.button,
main a.button:hover,
main a.button:focus,
main button,
main button:hover,
main button:focus,
main input[type="button"],
main input[type="button"]:hover,
main input[type="button"]:focus,
main input[type="submit"],
main input[type="submit"]:hover,
main input[type="submit"]:focus {
	appearance: none;
	background: none;
	border: 1px solid;
	border-radius: .4em;
	box-sizing: border-box;
	color: inherit;
	font: inherit;
	font-size: .875em;
	letter-spacing: .1em;
	line-height: normal;
	margin: 0;
	padding: .9em 2.7em;
	text-align: center;
	text-transform: uppercase;
	transition: all .3s ease;
}

main a.button.gray,
main button.gray,
main input[type="button"].gray,
main input[type="submit"].gray {
	border-color: var(--color-gray-25);
	color: var(--color-gray-25);
}

main a.button.gray:hover,
main a.button.gray:focus,
main button.gray:hover,
main button.gray:focus,
main input[type="button"].gray:hover,
main input[type="button"].gray:focus,
main input[type="submit"].gray:hover,
main input[type="submit"].gray:focus {
	background: var(--color-gray-25);
	color: var(--color-primary);
}

main a.button.card-cta,
main a.button.card-cta:hover,
main a.button.card-cta:focus {
	background: #fff;
	border: 1px solid var(--color-link);
	border-radius: .3125em;
	color: var(--color-link);
	font-size: 1em;
	font-weight: 400;
	letter-spacing: normal;
	padding: .5em 1.875em;
	text-transform: unset;
}

main a.button.card-cta:hover,
main a.button.card-cta:focus {
	background: var(--color-link-dark);
	border: 1px solid var(--color-link-dark);
	color: #fff;
}

/* --- event cards --- */
.deck .card-date {
	color: var(--color-primary-on-black);
	font-size: .9em;
	font-weight: 700;
	padding: 0;
	text-transform: uppercase;
}

.deck .card-title a {
	border-bottom-color: transparent;
	position: relative;
}

.deck .card-title a:hover,
.deck .card-title a:focus {
	border-bottom-color: inherit;
}

.deck .card-title a:after {
	background: url(images/icons/link-gray-25.svg) center / 55% no-repeat;
	content: "";
	display: inline-block;
	height: 1.2em;
	margin: .05em 0 0 .1em;
	position: absolute;
	width: 1.2em;
	z-index: 1;
}

.deck .card-taxonomy {
	font-size: .9em;
	padding-left: 1.25em;
}

.deck .card-type {
	background: url(images/icons/type.svg) left .25em / .9em no-repeat;
}

.card-location {
	background: url(images/icons/location.svg) .05em .2em / .75em no-repeat;
}

/* --- deck-specific rules --- */
.deck-features .card-title,
.deck-river .card-title {
	font-size: 1.5em;
	font-weight: 700;
	line-height: 1.2;
	padding: .5em 0;
}

.deck-today .card-type {
	background: none;
	color: var(--color-primary-on-black);
	display: block;
	font-size: .74em;
	letter-spacing: 1px;
	padding: 0 0 .6em;
	text-transform: uppercase;
}

.deck-today .card-title a {
	color: var(--color-gray-10);
}

.deck-today .card-title a:hover,
.deck-today .card-title a:focus {
	color: #fff;
	border-bottom: 1px solid var(--color-primary-on-black);
}

.deck-today .card-title a:after {
	background: url(images/icons/link-gray-5.svg) center / 80% no-repeat;
	margin: .25em 0 0 .5em;
}

.deck-today .card-date {
	display: block;
	color: var(--color-gray-10);
	font-size: .82em;
	font-weight: 400;
	padding: .6em 0 0;
	text-transform: unset;
}

/* --- individual event views --- */
.single-event main > article .card-type a {
	color: var(--color-link);
	font-size: 1.2em;
	font-weight: 400;
	line-height: 1;
	text-transform: uppercase;
}

.card-event-details span {
	font-weight: 700;
}

.card-date a,
.card-directions a,
.card-contact-details a,
.card-location-notes,
.wp-caption-text,
.card-footer {
	border-bottom-color: inherit;
	color: var(--color-gray);
	font-size: .875em;
	font-weight: 400;
}

.card-location-notes {
	color: var(--color-gray-80);
}

.card-date a {
	white-space: nowrap;
}

.related-link {
	border-bottom-color: var(--color-gray-5);
}

.single-event main > article .card-date {
	background: url(images/icons/date.svg) left center / .8125em no-repeat;
}

.card-time {
	background: url(images/icons/time.svg) left center / .875em no-repeat;
}

.single-event .card-location {
	background-position: .05em .25em;
}

.card-directions a {
	position: relative;
}

.card-directions a:before {
	background: url(images/icons/directions.svg) center / 100% no-repeat;
	content: "";
	height: 100%;
	left: -1.375em;
	position: absolute;
	top: .05em;
	width: 1em;
}

.card-cost {
	background: url(images/icons/cost.svg) left center / .65em no-repeat;
}

figcaption {
	background: url(images/icons/photo.svg) .25em .875em / 1.2em no-repeat;
	padding: .625em 1.875em;
}

.related-link {
	position: relative;
}

.related-link:before {
	background: url(images/icons/link.svg) center / 87.5% no-repeat;
	content: "";
	height: 100%;
	left: -1.5em;
	position: absolute;
	top: .05em;
	width: 1em;
}

.card-about h2 {
	font-size: 1em;
	font-weight: 400;
	padding-bottom: .5em;
	text-transform: uppercase;
}

.card-footer h2 {
	font-size: 1.03em;
	line-height: 1;
	padding: 0;
}

.card-taxonomy a {
	border-bottom-color: transparent;
	color: var(--color-gray-80);
}

.card-taxonomy a:hover {
	border-bottom-color: inherit;
	color: var(--color-link);
}

/* --- sharing links --- */
.card-share p {
	color: var(--color-link);
	padding: 0 .2em .2em;
}

.card-share a {
	background: var(--color-gray-5);
	border-bottom: none;
	float: left;
	line-height: 0;
	padding: .75em;
}

.card-share a:hover use {
	fill: var(--color-link-hover);
}

@media screen and (max-width: 791px) {

	.card-share a {
		background-color: #fff;
	}
}

/* --- archive pages --- */
.page-header h1 {
	font-size: 4.5em;
	padding-bottom: 0;
}

.page-header p {
	color: var(--color-link);
	font-size: .9em;
	font-weight: 400;
	letter-spacing: .1em;
	text-transform: uppercase;
}

.pagination a {
	border-bottom: none;
}

.pagination.previous a {
	background: url(images/icons/arrow-left-crimson.svg) left top / 1.2em no-repeat;
	font-size: 1.125em;
	padding-left: 1.5em;
}

.pagination.next a {
	background: url(images/icons/arrow-right-crimson.svg) right top / 1.2em no-repeat;
	font-size: 1.125em;
	padding-right: 1.5em;
}

@media screen and (max-width: 791px) {

	.page-header h1 {
		font-size: 11vw;
	}
}

/* --- home page --- */
.tagline {
	color: #fff;
	font-weight: 700;
	line-height: .845;
}

.tagline span {
	color: var(--color-primary-on-black);
}

.hero .tagline {
	font-size: 7.5em;
	padding: 100px 48px;
	position: relative;
	z-index: 1;
}

.today .tagline {
	font-size: 1.45em;
	line-height: 1.2;
	text-align: right;
}

.today .tagline a {
	border-bottom-color: var(--color-primary-on-black);
	font-size: 1.4em;
}

.today .tagline a:hover,
.today .tagline a:focus {
	color: var(--color-primary-on-black);
}

.filter,
.page-template-search .site-search {
	font-size: 1.3em;
}

.filter p {
	font-weight: 700;
}

.filter p span {
	color: var(--color-primary-on-black);
}

.filter li {
	font-size: .85em;
}

.filter .column li > button,
.filter .column li > button:hover
.filter .column li > button:focus {
	border: none;
	font-size: inherit;
	letter-spacing: normal;
	padding-right: 3.8em;
	text-transform: unset;
}

.filter li > button:after {
	background: url(images/icons/arrow-down-gray-25.svg) center .1em no-repeat;
	content: "";
	display: inline-block;
	height: 100%;
	margin: 0 0 0 .25em;
	position: absolute;
	width: 1.2em;
}

.filter li > button:hover {
	color: var(--color-primary-on-black);
}

.filter li > button:hover:after {
	background-image: url(images/icons/arrow-down-crimson.svg);
}

.features h2 {
	color: #333;
	font-size: 2.5em;
}
