.site-header,
.card-header,
main section {
	background: #fff;
	padding: 0 3rem;
}

.site-header {
	box-sizing: border-box;
	margin-left: calc(198px + 1rem);
	margin-right: 1rem;
}

main {
	padding: 0 1rem;
}

main section.card-footer {
	background: none;
}
