/* site header is currently uncertain */
.site-header {
	display: none;
}

main {
	background: #fff;
	border: solid calc(var(--spacing) / 3) var(--color-gray-light);
	border-top-width: 0;
	border-bottom-width: 0;
	padding: var(--spacing) 0 0;
}

main section,
main header,
main footer {
	padding: 0 var(--spacing);
}

main header {
	box-sizing: border-box;
	max-width: 800px;
	width: calc(100% - 120px);
}

main footer {
	background: var(--color-gray-light);
}

.single-post .card--event {
	position: relative;
}

/* --- spacing between components --- */
.card-title,
.card-image {
	padding-bottom: var(--spacing);
}

.card-event-details span {
	display: block;
	margin-bottom: calc(var(--spacing) / 4);
}

.card-contact-details span {
	display: block;
}

/* --- sharing links --- */
.card-share {
	margin-right: -3rem;
	position: absolute;
	right: 48px;
	top: 1.3em;
}

.card-share p {
	color: var(--color-link);
	font-size: .75em;
	font-weight: 400;
	padding: 0 .2em .1em;
}

.card-share a {
	background: var(--color-gray-light);
	border-bottom: none;
	float: left;
	line-height: 0;
	padding: 12px;
}

.card-share a:hover use {
	fill: var(--color-link);
}

/* --- responsiveness --- */

@media (max-width: 791px) {

	#binder.fluid #spine header {
		border-bottom: 1px solid var(--color-gray-light);
	}
}

@media (max-width: 500px) {

	#binder.fluid main {
		border-width: calc(var(--spacing) / 6);
		border-top-width: 0;
	}

	main section,
	main header,
	main footer {
		padding: 0 calc(var(--spacing) / 2);
	}
}
