.row .today {
	background: #000;
	display: flex;
	padding-bottom: 25px;
}

.row.today-footer .today {
	border-top: solid 15px #f2f2f2;
	padding-top: 25px;
}

.home .today:before {
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
	bottom: 100%;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	width: 100%;
}

.today .tagline {
	box-sizing: border-box;
	width: 25%;
	padding: 12px 20px 0 0;
}

.today-footer .tagline {
	background: #000;
}

.deck-today {
	color: #fff;
	display: flex;
	overflow: hidden;
	position: relative;
	width: 75%;
}

.deck-today button,
.deck-today button:hover,
.deck-today button:focus {
	background: center / 90% no-repeat;
	border: none;
	border-radius: 0;
	height: 32px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	text-indent: 100%;
	white-space: nowrap;
	width: 32px;
	z-index: 1;
}

.deck-today button.previous {
	background-image: url(images/icons/arrow-left-crimson.svg);
	right: 0;
	top: 50%;
}

.deck-today button.next {
	bottom: 50%;
	right: 0;
	background-image: url(images/icons/arrow-right-crimson.svg);
}

.deck-today button:disabled {
	display: none;
}

.deck-today .card--event {
	border-bottom: none;
	border-left: solid 1px rgba(255, 255, 255, .25);
	box-sizing: border-box;
	flex: 0 1 calc(100% / 3);
	padding: 12px 1.7em 0 20px;
}

.js .deck-today .card--event {
	display: none;
	opacity: 0;
}

.deck-today .card--event.up {
	display: block;
	animation: fade-in .4s ease forwards;
}

@keyframes fade-in {

	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

/* Prevent the link icon from invading control button territory */
.deck-today .up + .up + .up header {
	padding-right: 32px;
}

@media screen and (max-width: 791px) {

	.row .today {
		display: block;
		background: none;
		padding: 0;
	}

	.row.today-footer .today {
		padding-top: 0;
	}

	.home .today:before {
		content: none;
	}

	.today .tagline {
		font-size: 3.75em;
		line-height: 1.05;
		text-align: left;
		padding: 58px 48px 52px;
		width: 100%;
	}

	.today .tagline a {
		border-bottom-width: 3px;
		font-size: 1em;
	}

	.deck-today {
		background: #000;
		box-sizing: border-box;
		overflow: visible;
		padding: 0 48px 25px;
		position: relative;
		width: 100%;
	}

	.home .deck-today:before {
		background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #000 100%);
		bottom: 100%;
		content: "";
		height: 100%;
		left: 0;
		position: absolute;
		width: 100%;
	}

	.deck-today:after {
		background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, #000 calc(100% - 48px), #000 100%);
		content: "";
		height: 100%;
		position: absolute;
		right: 0;
		top: 0;
		width: calc(100% / 3);
	}

	.deck-today button {
		margin-right: 16px;
	}
}

@media screen and (max-width: 693px) {

	.deck-today button.previous {
		left: 0;
		margin: -16px 0 0;
		right: auto;
	}

	.deck-today button.next {
		bottom: auto;
		margin: -16px 0 0;
		top: 50%;
	}

	.deck-today .card--event {
		flex: 1 0 calc(100% / 2);
	}

	.deck-today .up + .up + .up header {
		padding-right: 0;
	}
}

@media screen and (max-width: 500px) {

	.today .tagline,
	.deck-today {
		padding-left: 36px;
		padding-right: 36px;
	}
}

/* --- calendar --- */
.calendar {
	background: #fff;
	font-size: .7em;
	position: relative;
	text-align: center;
	text-transform: uppercase;
}

.calendar header {
	background: var(--color-gray-80);
	color: #fff;
	font-size: 1.125em;
	padding: 7px 0;
}

.calendar button,
.calendar button:hover,
.calendar button:focus {
	border: none;
	height: 32px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	text-indent: 100%;
	top: 0;
	white-space: nowrap;
	width: 32px;
	z-index: 1;
}

.calendar button:before {
	background: #fff no-repeat;
	background-size: 85%;
	border-radius: 50%;
	bottom: 0;
	content: "";
	height: 30%;
	left: 0;
	margin: auto;
	position: absolute;
	top: 0;
	right: 0;
	width: 30%;
}

.calendar button.previous {
	left: 0;
}

.calendar button.next {
	right: 0;
}

.calendar button.previous:before {
	background-image: url(images/icons/arrow-left-gray.svg);
	background-position: left center;
}

.calendar button.next:before {
	background-image: url(images/icons/arrow-right-gray.svg);
	background-position: center;
}

.calendar button.previous:before:hover,
.calendar button.previous:before:focus {
	background-image: url(images/icons/arrow-left-crimson.svg);
}

.calendar button.next:before:hover,
.calendar button.next:before:focus {
	background-image: url(images/icons/arrow-right-crimson].svg);
}

.weekday-heading,
.month {
	border: 1px solid var(--color-gray-25);
	border-bottom-width: 0;
	border-right-width: 0;
	display: flex;
}

.month {
	border-top-width: 0;
	flex-wrap: wrap;
}

.day-heading {
	background: var(--color-gray-10);
	overflow: hidden;
	padding: 7px 0;
}

.day-heading,
.month > * {
	border: 1px solid var(--color-gray-25);
	border-left-width: 0;
	border-top-width: 0;
	flex: 1 1 calc(100% / 7);
	width: calc(100% / 7);
}

.day-heading,
.month > *,
.month a {
	align-items: center;
	box-sizing: border-box;
	display: flex;
	height: 30px;
	justify-content: center;
}

.month .pad-day {
	background: var(--color-gray-5);
	font-size: .8em;
}

.month a {
	border-bottom: none;
	color: var(--color-link);
	height: 29px;
	z-index: 1;
}

.month a:hover {
	box-shadow: inset 0 0 0 1px #fff, inset 0 0 0 3px var(--color-link);
}

/* --- organization index --- */
.organization-index {
	width: calc(100% + 48px);
}

.organization-index,
.organization-index ul {
	list-style: none;
	padding: 0;
}

.organization-index .level-two > li {
	margin-top: 8px;
}

.organization-index .level-two > li > a {
	border-bottom-color: var(--color-gray-5);
}

.organization-index .level-two > li > a:hover {
	border-bottom-color: inherit;
}

.organization-index .level-three {
	border-top: 6px solid var(--color-gray-5);
	column-count: 3;
	column-gap: 24px;
	margin: 12px 0 0;
	padding: 18px 24px;
}

.organization-index .level-three li {
	display: inline-block;
	padding: 0 0 8px;
	width: 100%;
}

.organization-index .level-three a {
	border-bottom-color: inherit;
	color: var(--color-gray);
	font-size: .875em;
}

.organization-index .level-three a:hover {
	color: var(--color-link-hover);
}

@media screen and (max-width: 791px) {

	.organization-index .level-three {
		column-count: 2;
	}
}

@media screen and (max-width: 500px) {

	.organization-index .level-three {
		column-count: 1;
	}
}
